*{
    margin:0;
    padding:0;
    font-family:sans-serif;
}


.hero{
    width: 100%;
    height: 100vh;
    background:url(lightning-strike-in-clouds.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}
.btn {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  font-family: sans-serif;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  
}
.btn:before {
    content: "Follow our Instagram";
    background: linear-gradient(
      45deg,
      #ff0000,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8,
      #ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
  }
  @keyframes glowing-button-85 {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  
.btn:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background:#000105;
    left: 0;
    top: 0;
    border-radius: 10px;
  }
  
  .logo{
    width: 100px;
    cursor: pointer;
  }

  .navbar{
    width: 85%;
    height: 15%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content:space-between ;
  }


.content{
    color:white;
    position: absolute ;
    top: 50%;
    left: 8%;
    transform:translateY(-50%) ;
    z-index:2;
}

h1{
    font-size: 80px;
    margin: 10px 0 30px;
    line-height: 80px;
}

.side-bar{
    width: 50px;
    height: 100vh;
    background: linear-gradient(#000105, #424475);
    position: absolute;
    right: 0;
    top:0;
}

.menu{
    display: block;
    width: 25px;
    margin: 40px auto 0;
    cursor: pointer;
}

.social-links img, .useful-links img{
    width: 25px;
    margin: 5px auto;
    cursor: pointer;
}

.social-links{
    width: 50px;
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%)
}

.useful-links{
    width: 50px;
    text-align: center;
    position: absolute;
    bottom:30px;
}

.bubbles img{
    width: 50px;
    animation: bubble 7s linear infinite;
}

.bubbles{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: -70px;
}

@keyframes bubble{
    0%{
        transform: translateY(0);
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    70%{
        opacity: 1;
    }
    100%{
        transform: translateY(-80vh);
        opacity: 0;
    }
}
.bubbles img:nth-child(1){
    animation-delay: 1s;
}
.bubbles img:nth-child(2){
    animation-delay: 3s;
}
.bubbles img:nth-child(3){
    animation-delay: 4.5s;
}
.bubbles img:nth-child(4){
    animation-delay: 6s;
}
.bubbles img:nth-child(5){
    animation-delay: 7.5s;
}
.bubbles img:nth-child(6){
    animation-delay: 9s;
}
.bubbles img:nth-child(7){
    animation-delay: 11.5s;
}

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap");






section {
    min-height: 100vh;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 3rem;
    margin: 2rem 0rem;
    color:whitesmoke
}

.faq {
    max-width: 700px;
    margin-top: 2rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid #fff;
    cursor: pointer;
    color:whitesmoke;
}

.question  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:whitesmoke;

}

.question h3 {
    font-size: 1.8rem;
    color:whitesmoke;
}

.answer {
    max-height: 0;
    overflow: hidden;
    color:whitesmoke;
}

.answer p {
    padding-top: 1rem;
    line-height: 1.6;
    font-size: 1.4rem;
    color:whitesmoke;
}
.faq.active .answer  {
    max-height: 300px;
    color:whitesmoke;

}
body{
    margin: 0;
    font-family: Poppins;
}
.container{
    width: 900px;
    margin: auto;
    max-width: 90vw;
    text-align: center;
    padding-top: 10px;
    transition: transform .5s;
}
svg{
    width: 30px;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
.icon-cart{
    position: relative;
}
.icon-cart span{
    position: absolute;
    background-color: red;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #fff;
    top: 50%;
    right: -20px;
}
.title{
    font-size: xx-large;
}
.listProduct .item img{
    width: 90%;
    filter: drop-shadow(0 50px 20px #0009);
}
.listProduct{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.listProduct .item{
    background-color: #EEEEE6;
    padding: 20px;
    border-radius: 20px;
}
.listProduct .item h2{
    font-weight: 500;
    font-size: large;
}
.listProduct .item .price{
    letter-spacing: 7px;
    font-size: small;
}
.listProduct .item button{
    background-color: #353432;
    color: #eee;
    border: none;
    padding: 5px 10px;
    margin-top: 10px;
    border-radius: 20px;
}

/* cart */
.cartTab{
    width: 400px;
    background-color: #353432;
    color: #eee;
    position: fixed;
    top: 0;
    right: -400px;
    bottom: 0;
    display: grid;
    grid-template-rows: 70px 1fr 70px;
    transition: .5s;
}
body.showCart .cartTab{
    right: 0;
}
body.showCart .container{
    transform: translateX(-250px);
}
.cartTab h1{
    padding: 20px;
    margin: 0;
    font-weight: 300;
}
.cartTab .btn{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.cartTab button{
    background-color: #E8BC0E;
    border: none;
    font-family: Poppins;
    font-weight: 500;
    cursor: pointer;
}
.cartTab .close{
    background-color: #eee;
}
.listCart .item img{
    width: 100%;
}
.listCart .item{
    display: grid;
    grid-template-columns: 70px 150px 50px 1fr;
    gap: 10px;
    text-align: center;
    align-items: center;
}
.listCart .quantity span{
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: #eee;
    border-radius: 50%;
    color: #555;
    cursor: pointer;
}
.listCart .quantity span:nth-child(2){
    background-color: transparent;
    color: #eee;
    cursor: auto;
}
.listCart .item:nth-child(even){
    background-color: #eee1;
}
.listCart{
    overflow: auto;
}
.listCart::-webkit-scrollbar{
    width: 0;
}
@media only screen and (max-width: 992px) {
    .listProduct{
        grid-template-columns: repeat(3, 1fr);
    }
}


/* mobile */
@media only screen and (max-width: 768px) {
    .listProduct{
        grid-template-columns: repeat(2, 1fr);
    }
}