*{
    margin:0;
    padding:0;
    font-family:sans-serif;
}


.hero{
    width: 100%;
    height: 100vh;
    background:url(lightning-strike-in-clouds.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}
.btn {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(2, 2, 2);
  font-family: sans-serif;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  
}
.btn:before {
    content: "Follow our Instagram";
    background: linear-gradient(
      45deg,
      #ff0000,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8,
      #ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
  }
  @keyframes glowing-button-85 {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  
.btn:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ffffff;
    left: 0;
    top: 0;
    border-radius: 10px;
  }
  
  .logo{
    width: 100px;
    cursor: pointer;
  }

  .navbar{
    width: 85%;
    height: 15%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content:space-between ;
  }


.content{
    color:white;
    position: absolute ;
    top: 50%;
    left: 8%;
    transform:translateY(-50%) ;
    z-index:2;
}

h1{
    font-size: 80px;
    margin: 10px 0 30px;
    line-height: 80px;
}

.side-bar{
    width: 50px;
    height: 100vh;
    background: linear-gradient(#000105, #424475);
    position: absolute;
    right: 0;
    top:0;
}

.menu{
    display: block;
    width: 25px;
    margin: 40px auto 0;
    cursor: pointer;
}

.social-links img, .useful-links img{
    width: 25px;
    margin: 5px auto;
    cursor: pointer;
}

.social-links{
    width: 50px;
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%)
}

.useful-links{
    width: 50px;
    text-align: center;
    position: absolute;
    bottom:30px;
}

.bubbles img{
    width: 50px;
    animation: bubble 7s linear infinite;
}

.bubbles{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: -70px;
}

@keyframes bubble{
    0%{
        transform: translateY(0);
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    70%{
        opacity: 1;
    }
    100%{
        transform: translateY(-80vh);
        opacity: 0;
    }
}
.bubbles img:nth-child(1){
    animation-delay: 1s;
}
.bubbles img:nth-child(2){
    animation-delay: 3s;
}
.bubbles img:nth-child(3){
    animation-delay: 4.5s;
}
.bubbles img:nth-child(4){
    animation-delay: 6s;
}
.bubbles img:nth-child(5){
    animation-delay: 7.5s;
}
.bubbles img:nth-child(6){
    animation-delay: 9s;
}
.bubbles img:nth-child(7){
    animation-delay: 11.5s;
}