body{
    font-family: Arial, Helvetica, sans-serif;
    background:url(pexels-jplenio-1118869.jpg);
    background-size: cover;
}

nav{
    box-sizing: border-box;
    border: 2px solid rgb(0, 47, 255);
    background-color: #fff;
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    align-items: center;
}

nav h2{
    margin-left: 10px;
    cursor: pointer;
    color: #000;
}

nav h2 span{
    font-style: italic;
    color:  rgb(0, 47, 255);
}

nav ul{
    flex:1;
    text-align: center;
}

nav ul li{
    display:inline-block;
    margin:10px 20px;
    padding: 4px;
}


nav ul li a{
    text-decoration: none;
    color: #000;

}

nav ul li a:hover{
    padding:12px;
    background-color:  rgb(0, 47, 255);
    transition: 0.3s;
    

}

nav .btn{
    color:#000;
    text-decoration: none;
    margin-right:  25px;
    padding: 10px;
    box-sizing: border-box;
    padding: 12px;
    background-color:rgb(0, 47, 255);
}

.content h1{
    position:absolute;
    margin-top: 17%;
    margin-left: 5%;
    color: #fff;
    font-style: 50px;
    font-size: 50px;
    text-align: center;
}

.content span{
    color: #000;

}